#pagination {
    display: flex;
    justify-content: center;
}

#pagination a {
    color: black;
    background: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-top: 2px solid black;
    border-bottom:2px solid black;
    border-left: 2px solid black;
    box-sizing: border-box;
    cursor: pointer;
}

#pagination a.active {
    background-color: black;
    color: white;
}

#pagination a:hover:not(.active) {
    background-color: #ddd;
}

#pagination a:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

#pagination a:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-right: 2px solid black;

}