.my-activity {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0;
}

.my-activity .container {
    margin: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my-activity h1 {
    text-align: left;
    font-size: 2.5rem
        /* margin: 2rem; */
}
/* 
.my-activity img {
    height: 4rem;
} */

.my-activity .cardlist {
    max-width: 960px;
    padding: 0 2rem;
}