.setting {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.setting h1 {
  margin: 2rem auto 0rem;
  text-align: center;
  font-size: 2.5rem;
}
.setting .container {
  max-width: 1080px;
  margin: 2rem auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.setting a {
  margin: 0 auto;
  opacity: 0.5;
  cursor: pointer;
}

.setting h2 {
  padding-bottom: 2rem;
}

.setting button {
  margin: 2rem auto;
}

.setting-form-container {
  display: inline-flex;
  /* flex-direction: row */
}

.setting-form-container .line {
  height: auto;
  background-color: black;
  border: 1px solid black;
  margin: 0 5rem;
}

.setting-form-container .form-group {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
}

@media (max-width: 960px) {
  .setting .container,
  .setting-form-container {
    max-width: 1080px;
    margin: 2rem auto;
    padding: 0 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .setting-form-container .form-group:first-child {
    margin-bottom: 4rem;
  }
  .setting-form-container .line {
    display: none;
  }
}
